body {
  padding-top: 60px;
}

@media (max-width: 740px) {
  body {
    padding-bottom: 60px;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: white !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.navbar-nav > li > a#language_selector {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-nav > li > a > span#language_selector {
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu > li > a > span#language_selector {
  padding-left: 10px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a#language_selector {
    padding-top: 8px;
    padding-bottom: 0px;
  }

  .navbar-nav > li > a > span#language_selector {
    display: none;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar {
  margin-bottom: 10px !important;
}

.jumbotron {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
}

.jumbotron h1, .jumbotron .h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
}

.h2, h2 {
  font-size: 25px;
}

.h3, h3 {
  font-size: 20px;
}

@media (max-width: 500px) {
  .jumbotron h1, .jumbotron .h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
  }

  .content-divs .h2, .content-divs h2 {
    font-size: 20px;
  }

  .content-divs .h3, .content-divs h3 {
    font-size: 15px;
  }

  .jumbotron p {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) {
  .flex-row.row {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: row;
  }
}

.nav-header > a {
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eee;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 1000px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.row {
  padding-right: 10px;
  padding-left: 10px;
}

.content-divs-parent {
  padding: 0px 5px 0px 5px !important;
}

.content-divs > p {
  margin: 0px;
}

.content-divs {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 0px 15px 15px 15px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  box-sizing: 'border-box';
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.content-divs > .filler {
  flex: 1 0 auto;
}
